<!DOCTYPE html>
<html>

<head>
    <title>Django Toy Store</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container pt-5">
        <h1>Django Toy Store</h1>
        <hr>
        <h4>API Endpoints</h4>
        <ul>
            <li><a href="{{ request.build_absolute_uri|add:'api/blog/' }}" target="_blank">Blog API root</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'api/store/' }}" target="_blank">Store API root</a>
            </li>
            <li><a href="{{ request.build_absolute_uri|add:'api/cart/' }}" target="_blank">Cart API root</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'api/finance/' }}" target="_blank">Finance API root</a></li>
            <p></p>
            </li>
            <li><a href="{{ request.build_absolute_uri|add:'myadmin/' }}" target="_blank">Admin panel</a></li>

            <p></p>
            <li><a href="{{ request.build_absolute_uri|add:'api/token/' }}" target="_blank">Token Obtain Pair</a></li>
            <li><a href="{{ request.build_absolute_uri|add:'api/token/refresh' }}" target="_blank">Token Refresh</a>
            </li>

        </ul>
    </div>
</body>

</html>