<!DOCTYPE html>
<html>

<head>
    <title>Django Toy Store</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <h1>Django Toy Store</h1>
    <hr>
    <h4>API Endpoints</h4>
    <ul>
        <li><a href="{{ request.build_absolute_uri|add:'api/blog/' }}">Blog API root</a></li>
        <li><a href="{{ request.build_absolute_uri|add:'api/store/' }}">Store API root</a>
        </li>
        <li><a href="{{ request.build_absolute_uri|add:'api/cart/' }}">Cart API root</a></li>
        <li><a href="{{ request.build_absolute_uri|add:'api/finance/' }}">Finance API root</a></li>
        <p></p>
        </li>
        <li><a href="{{ request.build_absolute_uri|add:'/myadmin/' }}">Admin panel</a></li>

        <p></p>
        <li><a href="{{ request.build_absolute_uri|add:'api/token/' }}">Token Obtain Pair</a></li>
        <li><a href="{{ request.build_absolute_uri|add:'api/token/refresh' }}">Token Refresh</a></li>

    </ul>
</body>

</html>