/db.sqlite3
/venv
toystore/local_settings.py
toystore/__pycache__
store/__pycache__
store/migrations/__pycache__
blog/__pycache__
blog/migrations/__pycache__
cart/__pycache__
cart/migrations/__pycache__
finance/__pycache__
finance/migrations/__pycache__
/media

